div.wrapper {
    width: 90%;
    margin: 0 auto;
    margin-top: 3%;
}
.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;

}

/* Päänavigaatio tyyli */
.menu {
        /* TYYLI */
        
        @font-face {
            font-family: futura;
            src: url(/Users/tuomasrahikka/Documents/Visual Studio Code/Verkkosivujen kehittäminen kurssi/Tuomaksen kotisivuprojekti/CSS/tyylit.css); }
        font-family: futura;
        color: #5e5e5e;
        font-style: normal;
        text-transform: uppercase;
        font-size: 14px;
    
        line-height: 44px;
        text-align: center;
        letter-spacing: 0.200em;
    font-style: normal;
    letter-spacing: 0.142em;
    color: rgba(0, 0, 0, 0.77);
    list-style-type: none;
    /* FLEX */
    flex-grow: 1;
    text-align: center;
    }
.menu a {
    text-decoration: none;
    color: #5e5e5e;

}
.menu a:visited {
    color: inherit;
}
.menu a:hover {
    color: inherit;
}
.menu a:focus {
    color: inherit;
}
.menu a:active {
    color: inherit;
}






/* TUOMAS RAHIKKA tyyli */
.three {
    /* TYYLI */
@font-face {
    font-family: Playfair Display SC;
    src: url(/Users/tuomasrahikka/Documents/Visual Studio Code/Verkkosivujen kehittäminen kurssi/Tuomaksen kotisivuprojekti/CSS/tyylit.css); }
font-family: Playfair Display SC;
font-style: normal;
font-weight: 600;
font-size: 35px;
letter-spacing: 0.09em;
color: #000000;
/* FLEX */
position: relative;
bottom: 4px;
flex-grow: 2;
}

.slideshow-container {
    display: flex;
    justify-content: center;
}



/* ABOUTABOUTABOUTABOUTABOUTABOUTABOUTABOUTABOUTABOUT */
.section-container p {
    @font-face {
        font-family: futura;
        src: url(/Users/tuomasrahikka/Documents/Visual Studio Code/Verkkosivujen kehittäminen kurssi/Tuomaksen kotisivuprojekti/CSS/tyylit.css); }
    font-family: futura;
    color: #5e5e5e;
    font-style: normal;
    font-size: 20px;
    font-weight:100;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.0em;
}
.section-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    width: 80%;
    margin: 0 auto;
    align-items: center;
}

.section-container img.pimio {
    flex: 1 1 100px;
    max-width: 470px;
    object-fit:contain;
    display: block;
    margin-bottom: 0px;
}
.section-container img.rollei {
    flex: 1 1 100px;
    max-width: 258px;
    object-fit: contain;
    margin-bottom: 0px;
}
.section-container img {
    margin: 2%;
}

.kuvateksti-container {
    display: flex;
    width: 60%;
    justify-content:flex-start
    flex-direction: row-reverse;
}
.kuvateksti-container p {
    text-align: start;
}
p.kuvateksti-pimio {
    margin-top: 0px;
    flex-grow: 1;
    position: relative;
    left: 10%;
}

p.kuvateksti-rollei {
    flex-grow: 2;

   margin-top: 0px;
}

footer {
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 800px) { 
    .menu {
        color: red;
    }
    .flex-container {
        flex-direction: column-reverse;
    }
    .three {order: 1}
    .section-container img.pimio {
        flex: 1 1 100px;
        max-width: 370px;
        object-fit:contain;
        display: block;
        margin-bottom: 13%;
    }
    p.kuvateksti-pimio {
        margin-top: 0px;
        flex-grow: 1;
        position: relative;
        left: %;
        bottom: 200px;
        display: none;
    }
    p.kuvateksti-rollei {
        flex-grow: 2;
        display: none;
       margin-top: 0px;
    }
    footer {
        display: flex;
        justify-content: center;
        margin-top: 10%;
    }
}