/* GLOBAL ADJUSTMENTS GLOBAL ADJUSTMENTS GLOBAL ADJUSTMENTS  */
/* PÄÄVALIKKO */
div.wrapper {
    width: 90%;
    margin: 0 auto;
    margin-top: 3%;
}
.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
.three {
    position: relative;
    bottom: 4px;
    flex-grow: 2;
    }

}
@media screen and (max-width: 800px) {
    .flex-container {
        flex-direction: column;
        padding: 0;
        flex-wrap: wrap;
    }
    .one {order: 2;}
    .two {order: 3;}
    .three {order: 1;}
    .four {order: 4;}
    .five{order: 5;}

}

/* TYYLI-PÄÄVALIKKO */
.menu {
        /* TYYLI */
        
    @font-face {
            font-family: futura;
            src: url(/Users/tuomasrahikka/Documents/Visual Studio Code/Verkkosivujen kehittäminen kurssi/Tuomaksen kotisivuprojekti/CSS/tyylit.css); }
    font-family: futura;
    color: #5e5e5e;
    font-style: normal;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 44px;
    text-align: center;
    letter-spacing: 0.200em;
    font-style: normal;
    letter-spacing: 0.142em;
    list-style-type: none;
    /* FLEX */
    flex-grow: 1;
    text-align: center;
    }
.menu a {
    text-decoration: none;
    color: #5e5e5e;

}
.menu a:visited {
    color: inherit;
}
.menu a:hover {
    color: inherit;
}
.menu a:focus {
    color: inherit;
}
.menu a:active {
    color: inherit;
}

/* TYYLI-TUOMASRAHIKKA */
.three {
    /* TYYLI */
@font-face {
    font-family: Playfair Display SC;
    src: url(/Users/tuomasrahikka/Documents/Visual Studio Code/Verkkosivujen kehittäminen kurssi/Tuomaksen kotisivuprojekti/CSS/tyylit.css); }
font-family: Playfair Display SC;
font-style: normal;
font-weight: 600;
font-size: 35px;
letter-spacing: 0.09em;
color: #000000;
}

/* ETUSIVU */

/* IMAGES */

div.main-gallery-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4%;
    width: 90%;
    margin: 0 auto;
    margin-top: 6%;
    justify-items: center;
    align-items: center;
}
.gallery-item {
    width: 100%;
    height: 100%;
    position: relative;
}
.gallery-item .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.gallery-item .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    transition: .5s ease-in-out;
}
.gallery-item:hover .image img {
    transform: scale(1.2);
}
.gallery-item .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 2%;
    @font-face {
        font-family: futura;
        src: url(/Users/tuomasrahikka/Documents/Visual Studio Code/Verkkosivujen kehittäminen kurssi/Tuomaksen kotisivuprojekti/CSS/tyylit.css); }
    font-family: futura;
    color: white;
    font-style: normal;
    text-transform: uppercase;
    border: solid 2px white;
    text-decoration: none;
}
.main-gallery-container p {
    @font-face {
        font-family: futura;
        src: url(/Users/tuomasrahikka/Documents/Visual Studio Code/Verkkosivujen kehittäminen kurssi/Tuomaksen kotisivuprojekti/CSS/tyylit.css); }
    font-family: futura;
    text-align: center;
    margin-top: 0;
}
@media (max-width: 800px) {
    div.main-gallery-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1%;
    }
    .walls-teksti {
        grid-row: 2 / 3;
    }
    .traces-teksti {
        grid-row: 4 / 5;
    }
    .notice-teksti {
        grid-row: 6 / 7;
    }
    }


/* ABOUT */
.section-container p {
    @font-face {
        font-family: futura;
        src: url(/Users/tuomasrahikka/Documents/Visual Studio Code/Verkkosivujen kehittäminen kurssi/Tuomaksen kotisivuprojekti/CSS/tyylit.css); }
    font-family: futura;
    color: #5e5e5e;
    font-style: normal;
    font-size: 20px;
    font-weight:100;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.0em;
}
.section-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    width: 80%;
    margin: 0 auto;
    align-items: center;
}

.section-container img.pimio {
    flex: 1 1 100px;
    max-width: 470px;
    object-fit:contain;
    display: block;
    margin-bottom: 0px;
}
.section-container img.rollei {
    flex: 1 1 100px;
    max-width: 258px;
    object-fit: contain;
    margin-bottom: 0px;
}
.section-container img {
    margin: 2%;
}

.kuvateksti-container {
    display: flex;
    width: 60%;
    justify-content:flex-start;
    flex-direction: row-reverse;
}
.kuvateksti-container p {
    text-align: start;
}
p.kuvateksti-pimio {
    margin-top: 0px;
    flex-grow: 1;
}

p.kuvateksti-rollei {
    flex-grow: 1;

   margin-top: 0px;
}

/* FOOTERFOOTERFOOTERFOOTER */
/* img.ig-desktop {
    justify-items: center;
    margin-top: 10%;
    grid-column: 2 / 3; */
}
@media (max-width: 800px) {
    img.ig-desktop {
        display:none;
    }
}
@media (min-width: 800px) {
    img.ig-mobile {
        display:none;
    }
    img.ig-desktop {
        position:relative;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.ig {
    display: none;
}
