/* GLOBAL ADJUSTMENTS GLOBAL ADJUSTMENTS GLOBAL ADJUSTMENTS  */
/* PÄÄVALIKKO */
div.wrapper {
    width: 90%;
    margin: 0 auto;
    margin-top: 3%;
}
.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
.three {
    position: relative;
    bottom: 4px;
    flex-grow: 2;
    }

}
@media screen and (max-width: 800px) {
    .flex-container {
        flex-direction: column;
        padding: 0;
        flex-wrap: wrap;
    }
    .one {order: 2;}
    .two {order: 3;}
    .three {order: 1;}
    .four {order: 4;}
    .five{order: 5;}

}

/* TYYLI-PÄÄVALIKKO */
.menu {
        /* TYYLI */
        
    @font-face {
            font-family: futura;
            src: url(/Users/tuomasrahikka/Documents/Visual Studio Code/Verkkosivujen kehittäminen kurssi/Tuomaksen kotisivuprojekti/CSS/tyylit.css); }
    font-family: futura;
    color: #5e5e5e;
    font-style: normal;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 44px;
    text-align: center;
    letter-spacing: 0.200em;
    font-style: normal;
    letter-spacing: 0.142em;
    list-style-type: none;
    /* FLEX */
    flex-grow: 1;
    text-align: center;
    }
.menu a {
    text-decoration: none;
    color: #5e5e5e;

}
.menu a:visited {
    color: inherit;
}
.menu a:hover {
    color: inherit;
}m
.menu a:focus {
    color: inherit;
}
.menu a:active {
    color: inherit;
}

/* TYYLI-TUOMASRAHIKKA */
.three {
    /* TYYLI */
@font-face {
    font-family: Playfair Display SC;
    src: url(/Users/tuomasrahikka/Documents/Visual Studio Code/Verkkosivujen kehittäminen kurssi/Tuomaksen kotisivuprojekti/CSS/tyylit.css); }
font-family: Playfair Display SC;
font-style: normal;
font-weight: 600;
font-size: 35px;
letter-spacing: 0.09em;
color: #000000;
}
@media screen and (max-width: 800px) {
    .three {
        margin-bottom: 4%;
    }
}
/* VIIVA "TUOMAS RAHIKKA" JÄLKEEN */

/* ETUSIVU */

/* IMAGES */

div.main-gallery-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4%;
    width: 90%;
    margin: 0 auto;
    margin-top: 6%;
    justify-items: center;
    align-items: center;
}
.gallery-item {
    width: 100%;
    height: 100%;
    position: relative;
}
.gallery-item .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.gallery-item .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    transition: .5s ease-in-out;
}
.gallery-item:hover .image img {
    transform: scale(1.2);
}
.gallery-item .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 2%;
    @font-face {
        font-family: futura;
        src: url(/Users/tuomasrahikka/Documents/Visual Studio Code/Verkkosivujen kehittäminen kurssi/Tuomaksen kotisivuprojekti/CSS/tyylit.css); }
    font-family: futura;
    color: white;
    font-style: normal;
    text-transform: uppercase;
    border: solid 2px white;
    text-decoration: none;
}
.main-gallery-container p {
    @font-face {
        font-family: futura;
        src: url(/Users/tuomasrahikka/Documents/Visual Studio Code/Verkkosivujen kehittäminen kurssi/Tuomaksen kotisivuprojekti/CSS/tyylit.css); }
    font-family: futura;
    text-align: center;
    margin-top: 0;
}
@media (max-width: 800px) {
    div.main-gallery-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1%;
    }
    .walls-teksti {
        grid-row: 2 / 3;
    }
    .traces-teksti {
        grid-row: 4 / 5;
    }
    .notice-teksti {
        grid-row: 6 / 7;
    }
}
/* SHOP  */
.shop-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, minmax(50px, auto));
    width: 80%;
    margin: 0 auto;
    text-align: center;
    column-gap: 3%;
    row-gap: 0;
}
.shop-img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    overflow: hidden;
    object-position: 50%, 50%;
}
.shop-grid p {
    @font-face {
        font-family: futura;
        src: url(/Users/tuomasrahikka/Documents/Visual Studio Code/Verkkosivujen kehittäminen kurssi/Tuomaksen kotisivuprojekti/CSS/tyylit.css); }
    font-family: futura;
}
.shop-kuvateksti {
    border: 2px solid black;
    align-self: center;
    width: 50%;
    margin: 4% auto;
}
.shop-teksti {
    grid-column: 2 / 8;
    grid-row: 1 / 2;
    align-self: center;
    justify-self: center;
    margin: 6% auto;
    font-size: 1.2em;
    width: 80%;
}
.tiksiseinä {
    grid-column: 2 / 5;
}
.shop-kt-tiksiseinä {
    grid-column: 2 / 5;
    grid-row: 3 / 4;
}
.asuntovaunut-lumi {
    grid-column: 5 / 8;
}
.shop-kt-asuntovaunut-lumi {
    grid-column: 5 / 8;
    grid-row: 3 / 4;
}
.turku-nosturi {
    grid-column: 2  / 5;
    grid-row: 4 / 5;
}
.shop-kt-turku-nosturi {
    grid-column: 2 / 5;
    grid-row: 5 / 6;
}
.tiksi-ikkuna {
    grid-column: 5  / 8;
}
.shop-kt-tiksi-ikkuna {
    grid-column: 5 / 8;
    grid-row: 5 / 6;
}




/* ABOUT */
.section-grid {
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 4rem);
    width: 70%;
    margin-left: 17%;
    margin-right: 13%;
    grid-gap: 2%;
    justify-self: center;
    text-align: center;
}
p.about-teksti {
    grid-column: 3 / 11;
    grid-row: 1 / 3;
    align-self: start;
    justify-self:start;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    letter-spacing: 0.02em;


}
.pimio {
    grid-column: 2 / 8;
    grid-row: 3 / 9;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* display: none; */
}
.rollei {
    grid-column: 8 / 11;
    grid-row: 3 / 9;
    width: 100%;
    height: 100%; 
    object-fit: cover;
    /* display: none;  */
}
.kuvateksti-pimio {
    grid-column: 2 / 4;
    grid-row: 9 / 10;
    padding: 0;
    margin: 0;
    justify-self: start;
}
.kuvateksti-rollei {
    grid-column: 8/ 10;
    grid-row: 9 / 10;
    padding: 0;
    margin: 0;
    justify-self: start;
}
.section-grid p {
    @font-face {
        font-family: futura;
        src: url(/Users/tuomasrahikka/Documents/Visual Studio Code/Verkkosivujen kehittäminen kurssi/Tuomaksen kotisivuprojekti/CSS/tyylit.css); }
    font-family: futura;
    /* text-transform: uppercase; */
}


/* CONTACT */
label, p, button, h3, h6 {
    @font-face {
        font-family: futura;
        src: url(/Users/tuomasrahikka/Documents/Visual Studio Code/Verkkosivujen kehittäminen kurssi/Tuomaksen kotisivuprojekti/CSS/tyylit.css); }
    font-family: futura;
    text-align: center;
}
div.container-lg {
    position:relative;
    top:50px;
}
div.hr-div {
    background-color: black;
    height:1px;
    width: 70%;
    margin: 0 auto;
    border-radius: 100px;
    position: absolute;
    bottom: 12%;
    left: 16%;
}
@media (max-width: 800px) {
    section#contact {
        position: relative;
        bottom: 40px;
    }
    div.hr-div {
        display: none;
    }
}


/* FOOTERFOOTERFOOTERFOOTER */
/* img.ig-desktop {
    justify-items: center;
    margin-top: 10%;
    grid-column: 2 / 3; */
}
@media (max-width: 800px) {
    img.ig-desktop {
        display:none;
    }
}
@media (min-width: 800px) {
    img.ig-mobile {
        display:none;
    }
    img.ig-desktop {
        position:relative;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.ig {
    display: none;
}
